* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

#content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 100vh;
}

#main-container{
  padding: 20px;
  height: 700px;
  width: 80%;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 220, 188);

}

.home-header{
  border: 8px rgb(241, 175, 88) solid;
  width: 75%;
}


